/* Colors */
$highlight: #000080;
$window-bg: #c0c0c0;
$border-primary: #808080;
$border-secondary: #dfdfdf;

/* Sizes */
$icon-size: 32px;

/* Cursors */
$pointer: url(/cursors/pointer.cur);
$arrow: url(/cursors/arrow.cur);
$help: url(/cursors/help.cur);
$loading: url(/cursors/loading.cur);


/* Mixins */
@mixin win95-border-primary {
    position: relative;
    box-shadow: inset -1px -1px 0 1px black, inset 1px 1px 0px 1px white, inset -3px -3px 0 1px $border-primary, inset 3px 3px 0px 1px $border-secondary;
    padding: 4px;
};

@mixin win95-window-border {
    box-shadow: inset -1px -1px 0 1px black, inset 1px 1px 0px 1px $border-secondary, inset -3px -3px 0 1px $border-primary, inset 3px 3px 0px 1px white;
    padding: 4px;
}

@mixin win95-border-secondary {
    box-shadow: inset 1px 1px 0px 1px $border-primary, inset -1px -1px 0 1px white;
}

@mixin win95-border-tertiary {
    box-shadow: inset 1px 1px 0px 1px $border-primary, inset -1px -1px 0 1px white, inset 3px 3px 0px 1px black, inset -3px -3px 0 1px $border-secondary;
    padding: 4px;
}

@mixin win95-pressed {
    box-shadow: inset -1px -1px 0 1px white, inset 1px 1px 0px 1px black, inset -3px -3px 0 1px $border-secondary, inset 3px 3px 0px 1px $border-primary;
}

@mixin win95-active {
    &:active {
        @include win95-pressed;
    }
}

@mixin win95-focus {
    &:focus, &:focus-within {
        @include win95-pressed;
    }
};

@mixin win95-button {
    button {
        @include win95-border-primary;
        border: 2px solid transparent;
        background: $window-bg;
        color: black;
        padding: 10px;
        margin: 10px;
        width: 100px;

        &[data-active=true] {
            border: 2px solid black;
            outline: 2px dotted black;
            outline-offset: -10px;
        }
        &:active {
            box-shadow: inset 1px 1px 0px 1px $border-primary, inset -1px -1px 0 1px $border-primary;
        }
    }
}