@use 'variables' as *;


.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.dragSelect {
    // background: pink;
    border: 1.75px dotted $border-dotted;
}

.space {
    margin: 0;
    display: flex;
    position: relative;
    flex-flow: column wrap;
    flex: 1;
    max-height: 100%;
    align-content: flex-start;

    .icon {
        color: black;
        display: flex;
        flex-direction: column;
        margin: 1rem;
        align-items: center;
        text-align: center;
        width: 75px;
        pointer-events: initial;

        .border {
            border: 1px solid rgba(0, 0, 0, 0)
        }

        .text {
            color: white;
            margin: 0;
            font-size: 12px;
            padding: 2px;
          }
          
        .img {
            width: $icon-size !important;
            height: $icon-size !important;
            margin-bottom: 5px;
        }

        &:focus {
            .border {border: $border-dotted dotted 1.5px;}
        }

        &.selected {
            .img {
                filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg)
                  saturate(400%) contrast(0.9);
              }

            .text {
                background: $highlight;
                color: white;
                margin: 0;
            }

            .border { 
                border: rgb(255, 255, 127) dotted 1px; 
            }
        }

      }
}

#taskbar {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    gap: 5px;
    padding: 0 5px;
    overflow: hidden;

    #program {
        @include win95-border-primary;
        
        cursor: $pointer, pointer;
        height: 35px;
        padding: 5px;
        flex: 0 1 240px;
        overflow: hidden;

        > div {
            display: flex;
            align-items: center;
            gap: 5px;
            height: 100%;
        
            * {height: 100%;}

            span {
                height: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &[data-active=true] {
            @include win95-pressed;

            background-color: white;
            background-image: linear-gradient( 45deg, #c6c6c6 25%, transparent 25%, transparent 75%, #c6c6c6 75% ),linear-gradient( 45deg, #c6c6c6 25%, transparent 25%, transparent 75%, #c6c6c6 75% );
            background-size: 4px 4px;
            background-position: 0 0,2px 2px;

            span {font-weight: bold;}
        }
    }
}

#clock {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35px;
    padding: 5px;

    @include win95-border-secondary;

    figure {
        height: 100%;
        img {max-height: 100%;}
    }

    #time {white-space: nowrap;}
}