@use 'variables' as *;

/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}*/



@font-face {
  font-family: 'ms_sans_serif';
     src: url('../../fonts/ms_sans_serif.woff2') format('woff2');
     font-weight: 400;
     font-style: normal
}
@font-face {
       font-family: 'ms_sans_serif';
       src: url('../../fonts/ms_sans_serif_bold.woff2') format('woff2');
       font-weight: bold;
       font-style: normal
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'ms_sans_serif';
  background-color: #008080;
  cursor: url(/cursors/arrow.cur), auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url(/cursors/pointer.cur), pointer;
}

#resume {
  iframe {aspect-ratio: 8.5/11;}
}

[class*=window_container] [data-testid=resizeHandle] {
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  cursor: initial;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} 