@use 'variables' as *;

.side {
    background: #7b7d7b;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 15%;
}

#menu {
    width: '225px';
    margin: 0;
    position: 'absolute';
    left: '0';
    bottom: '100%';

    .item {
        cursor: $pointer, pointer;
        gap: 12px;

        .title {
            flex: 1;
            display: flex;
        }
    }

    span[role=img] {
        display: flex;
    }

    .icons {
        flex-grow: 1;

        img {max-width: 32px;}
    }
}