@use 'variables' as *;


  .window {
    width: 100%;
    height: 100%;
    overflow: hidden;

    * {user-select: none;}

    .controlBtns {
      display: flex;
      flex-flow: row nowrap;
      gap: 2px;
      align-items: center;

      > div {
        display: flex;
        align-items: center;

        .min {
          span {
            position: absolute;
            background: black;
            width: 41%;
            height: 11%;
            bottom: 22%;
            left: 26%;
          }
        }

        .max {
          span {
            position: absolute;
            top: 19%;
            bottom: 19%;
            left: 24%;
            right: 24%;
            box-shadow: rgb(0, 0, 0) 1.5px 0 0 0 inset,
            rgb(0, 0, 0) 0 3px 0 0 inset,
            rgb(0, 0, 0) -2px 0 0 0 inset,
            rgb(0, 0, 0) 0 -1.5px 0 0 inset;
          }
        }
      }

      button {
        @include win95-border;
        @include win95-active;
        position: relative;
        cursor: $pointer, pointer;

        box-sizing: border-box;
        display: inline-block;
        background: #c6c6c6;
        color: #0a0a0a;
        border: none;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: auto;
        padding: 0 10px;
        font-size: 1rem;
        user-select: none;
        font-family: inherit;
        padding-left: 0;
        padding-right: 0;
        height: 25px;
        width: 27px;
        
      }
    }

    .title {
        padding: 4px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        overflow: hidden;

        .top {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 5px;

          figure {
            height: 25px;
            img {max-height: 100%;}
          }
        }

        span {overflow: hidden;}
      }

      .close {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: -1px;
        margin-top: -1px;
        transform: rotateZ(45deg);
        position: relative;
        &:before, &:after {
          content: '';
          position: absolute;
          background-color: rgb(10, 10, 10);
        }
        &:before {
          height: 100%;
          width: 3px;
          left: 50%;
          transform: translateX(-50%);
        }
        &:after {
          height: 3px;
          width: 100%;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

  }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  // transition: top 1s 1s, left 1s 1s;

  // * {transition-delay: 2s;}

  &:not(:focus-within) {
    [class*=title] {
      background: $window-blur-bg;
      span {color: $window-bg;}
    }
  }

  &:focus, &:focus-within {
    z-index: 1;

    [class*=title] {
      background: #060084;
    }
  }

  .resizable {
    position: absolute;
    width: 400px;
    height: 200px;
    // transition: transform 1s 1s;
  
    .wrapper {
      position: relative;
    }
  
    [class*=resizable-] {
      position: absolute;
      width: 10px;
      height: 10px;
      cursor: pointer;
      z-index: 5;
    }
  
    [class$=n], [class$=s] {
      left: 0;
      width: 100%;
      height: 5px;
      cursor: url(/cursors/Cursor_9.cur), pointer;
    }
  
    [class$=e], [class$=w] {
      height: 100%;
      width: 5px;
      cursor: url(/cursors/Cursor_8.cur), pointer;
    }
  
    [class$=n] {
      top: 0;
    }
  
    [class$=s] {
      bottom: 0;
    }
  
    [class$=nw] {
      top: 0;
      left: 0;
      height: 10px;
      width: 10px;
      z-index: 10;
      cursor: url(/cursors/Cursor_6.cur), pointer;
    }
  
    [class$=sw] {
      bottom: 0;
      left: 0;
      top: revert !important;
      right: revert !important;
      height: 10px;
      width: 10px;
      z-index: 10;
      cursor: url(/cursors/Cursor_7.cur), pointer;
    }
  
    [class$=e] {
      top: 0;
      right: 0;
    }
  
    [class$=w] {
      top: 0;
      left: 0;
    }
  
    [class$=se] {
      bottom: 0;
      right: 0;
      top: revert !important;
      left: revert !important;
      height: 10px;
      width: 10px;
      z-index: 10;
      cursor: url(/cursors/Cursor_6.cur), pointer;
    }
  
    [class$=ne] {
      top: 0;
      right: 0;
      height: 10px;
      width: 10px;
      z-index: 10;
      cursor: url(/cursors/Cursor_7.cur), pointer;
    }
  }
}

.max {
  inset: 0;
  transform: none !important;

  .window {
    padding: 0;
    border: none;
  }

  .title {border: none;}

  .resizable {
    inset: 0 !important;
    transform: none !important;
    width: 100% !important;
    height: 100% !important;
  }
}

#copy {
  z-index: 0;
  position: absolute;
  display: none;
  transform: none;
  // inset: 0;
  transition: .25s linear;

  .title {
    padding: 4px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    max-width: 100%;
    max-height: 100%;
  
    .top {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 5px;

      figure {
        height: 25px;
        img {max-height: 100%;}
      }
    }
  }

  .controlBtns {
    display: none;
  }
}