@use 'variables' as *;


  #window {
    background: $window-bg;
    width: 100%;
    height: 100%;
    padding: 6px;
    overflow: hidden;
    display: flex !important;
    flex-flow: column nowrap;
    @include win95-window-border;
    border: none;

    &.message {
      // visibility: hidden;
      transform: translate(-50%, -50%);
      max-width: 700px;

      .content {
        background: $window-bg;
        box-shadow: none;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        > div {
          display: flex;
          align-content: center;
          align-items: center;

          figure {padding: 10px;}
          > div {
            padding: 5px;
            padding-right: 10px;
          }

          img {max-width: 32px;}
        }

        .buttons {
          align-self: flex-end;
          margin: 10px;
          gap: 10px;

          button {
            margin: 0;
          }
        }

        @include win95-button;
      }

    }

    * {user-select: none;}
    
    iframe {aspect-ratio: 8.5/11;}

    .recycle {
      display: flex;
      flex-flow: column wrap;

      .select {
        background: none;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        // scrollbar-width: none;
        background-color: transparent;

      }

      .item {
        display: flex;
        flex-flow: row nowrap;
        gap: 5px;
        width: fit-content;
        align-items: center;
        background: none !important;
        background-color: none !important;
        border: none !important;

        // &:focus {
        //   background: red;
        //   .text {
        //     border: #0f0f0f dotted 1.5px;
        //   }
        // }

        // &:checked {
        //   .text {
        //     background: $highlight;
        //     border: white dotted 1.5px;
        //     color: white;
        //   }
        // }

        &.selected {background: blue;
          img {
              filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg)
                saturate(400%) contrast(0.9);
            }

          .text {
              border: white dotted 1.5px;
              background: $highlight;
              color: white;
              margin: 0;
          }

        }

        figure {
          width: 20px;
          height: 20px;

          img {width: 100%;}
        }

        .text {
          color: black;
          border: 1.5px solid rgba(0, 0, 0, 0);
          padding: 2px;
          align-self: stretch;
          display: flex;
          align-items: center;
        }
      }
    }

    .content {
      padding: 5px;
      flex: 1;
      overflow-y: scroll;
      scrollbar-width: none;
      background: white;

      @include win95-border-tertiary;
    }

    .controlBtns {
      display: flex;
      flex-flow: row nowrap;
      gap: 2px;
      align-items: center;
      position: relative;
      z-index: 15;

      > div {
        display: flex;
        align-items: center;

        .min {
          span {
            position: absolute;
            background: black;
            width: 41%;
            height: 11%;
            bottom: 22%;
            left: 26%;
          }
        }

        .maxed {
          span {
            position: absolute;
            top: 19%;
            bottom: 19%;
            left: 24%;
            right: 24%;
            box-shadow: rgb(0, 0, 0) 1.5px 0 0 0 inset,
            rgb(0, 0, 0) 0 3px 0 0 inset,
            rgb(0, 0, 0) -2px 0 0 0 inset,
            rgb(0, 0, 0) 0 -1.5px 0 0 inset;
          }
        }
      }

      button {
        @include win95-border-primary;
        @include win95-active;
        position: relative;
        cursor: $pointer, pointer;

        box-sizing: border-box;
        display: inline-block;
        background: #c6c6c6;
        color: #0a0a0a;
        border: none;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: auto;
        padding: 0 10px;
        font-size: 1rem;
        user-select: none;
        font-family: inherit;
        padding-left: 0;
        padding-right: 0;
        height: 25px;
        width: 27px;
        
      }
    }

    .title {
        padding: 4px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        overflow: hidden;

        .top {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 5px;
          overflow: hidden;

          figure {
            height: 25px;
            img {max-height: 100%;}
          }

          span {
            padding-right: 5px;
            height: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .toolbar {
        position: relative;
        display: flex;
        align-items: center;
        // padding: 6px;

        button {
          color: black;
          border: none;
          background: none;
          padding: 10px;
          font-size: 1rem;

          &:active {
            background: $highlight;
            color: white;
          }
        }
      }

      .close {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: -1px;
        margin-top: -1px;
        transform: rotateZ(45deg);
        position: relative;
        &:before, &:after {
          content: '';
          position: absolute;
          background-color: rgb(10, 10, 10);
        }
        &:before {
          height: 100%;
          width: 3px;
          left: 50%;
          transform: translateX(-50%);
        }
        &:after {
          height: 3px;
          width: 100%;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

  }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  // transition: top 1s 1s, left 1s 1s;

  // * {transition-delay: 2s;}

  &:not(:focus-within) {
    [class*=title] {
      background: $border-primary;
      span {color: $window-bg;}
    }
  }

  &:focus, &:focus-within {
    z-index: 1;

    [class*=title] {
      background: #060084;
    }
  }

  .resizable {
    position: absolute;
    width: 800px;
    height: 400px;
  
    .handle {
      position: absolute;
      width: 10px;
      height: 10px;
      cursor: pointer;
      z-index: 5;

      // [class$=n], [class$=s] {
      //   left: 0;
      //   width: 100%;
      //   height: 5px;
      //   cursor: url(/cursors/Cursor_9.cur), pointer;
      // }
      &#n, &#s {
        left: 0;
        width: 100%;
        height: 5px;
        cursor: url(/cursors/Cursor_9.cur), pointer;
      }
      
      &#e, &#w {
        height: 100%;
        width: 5px;
        cursor: url(/cursors/Cursor_8.cur), pointer;
      }
    
      &#n {
        top: 0;
      }
    
      &#s {
        bottom: 0;
      }
    
      &#nw {
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        z-index: 10;
        cursor: url(/cursors/Cursor_6.cur), pointer;
      }
    
      &#sw {
        bottom: 0;
        left: 0;
        top: revert !important;
        right: revert !important;
        height: 20px;
        width: 20px;
        z-index: 10;
        cursor: url(/cursors/Cursor_7.cur), pointer;
      }
    
      &#e {
        top: 0;
        right: 0;
      }
    
      &#w {
        top: 0;
        left: 0;
      }
    
      &#se {
        bottom: 0;
        right: 0;
        top: revert !important;
        left: revert !important;
        height: 20px;
        width: 20px;
        z-index: 10;
        cursor: url(/cursors/Cursor_6.cur), pointer;
      }
    
      &#ne {
        top: 0;
        right: 0;
        height: 20px;
        width: 20px;
        z-index: 10;
        cursor: url(/cursors/Cursor_7.cur), pointer;
      }
  
      .footer {
        padding: 2px 4px;
        margin-top: 2.5px;
        height: 25px;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: none;
  
        @include win95-border-secondary;
      }
    }
  
    // [class$=e], [class$=w] {
    //   height: 100%;
    //   width: 5px;
    //   cursor: url(/cursors/Cursor_8.cur), pointer;
    // }
  
    // [class$=n] {
    //   top: 0;
    // }
  
    // [class$=s] {
    //   bottom: 0;
    // }
  
    // [class$=nw] {
    //   top: 0;
    //   left: 0;
    //   height: 10px;
    //   width: 10px;
    //   z-index: 10;
    //   cursor: url(/cursors/Cursor_6.cur), pointer;
    // }
  
    // [class$=sw] {
    //   bottom: 0;
    //   left: 0;
    //   top: revert !important;
    //   right: revert !important;
    //   height: 10px;
    //   width: 10px;
    //   z-index: 10;
    //   cursor: url(/cursors/Cursor_7.cur), pointer;
    // }
  
    // [class$=e] {
    //   top: 0;
    //   right: 0;
    // }
  
    // [class$=w] {
    //   top: 0;
    //   left: 0;
    // }
  
    // [class$=se] {
    //   bottom: 0;
    //   right: 0;
    //   top: revert !important;
    //   left: revert !important;
    //   height: 10px;
    //   width: 10px;
    //   z-index: 10;
    //   cursor: url(/cursors/Cursor_6.cur), pointer;
    // }
  
    // [class$=ne] {
    //   top: 0;
    //   right: 0;
    //   height: 10px;
    //   width: 10px;
    //   z-index: 10;
    //   cursor: url(/cursors/Cursor_7.cur), pointer;
    // }

    // .footer {
    //   padding: 2px 4px;
    //   margin-top: 2.5px;
    //   height: 25px;
    //   display: flex;
    //   align-items: center;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    //   white-space: nowrap;
    //   border: none;

    //   @include win95-border-secondary;
    // }
  }
}

.max {
  width: auto !important;
  inset: 0;
  transform: none !important;

  #window {
    padding: 0;
    border: none;
    box-shadow: none;
  }

  .title {border: none;}

  .resizable {
    inset: 0 !important;
    transform: none !important;
    width: 100% !important;
    height: 100% !important;
  }
}

#copy {
  z-index: 0;
  position: absolute;
  display: none;
  transform: none;
  // inset: 0;
  transition: .25s linear;

  .title {
    padding: 4px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
  
    .top {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 5px;

      figure {
        height: 25px;
        img {max-height: 100%;}
      }
    }
  }

  .controlBtns {
    display: none;
  }
}